In [103]:
import pandas as pd
import numpy as np
import math

In [2]:
df = pd.read_excel("Hw1-words.xlsx", sheet_name='Proto-words')  # Replace 'Sheet1' with the name of the sheet you want to read
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*mura,*śil'ke,*kuśka
1,*ićä,*emä,*ikte,*kakteksan,*polwe,*nenä,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa
2,*ićä,*emä,*egy,*ńalɜ,*térd,*orr,*nyelv,*ämpɜ,*tojás,*pičɜ,*hó,*pilɜ,*harap,*énekel,*köp,*ϑasɜ
3,*ićä,*emä,*ikte,*ńalɜ,*sāns,*nere,*kele,*ämpɜ,*muna,*pičɜ,*tūjt,*pilɜ,*pure,*mura,*śil'ke,*ϑasɜ
4,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*jylme,*pene,*muna,*šikš,*lume,*äŋɜ,*pure,*mura,*śil'ke,*kuśka
5,*ićä,*emä,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa

In [3]:
# Concatenate all values as 
all_text_values = pd.concat([df[col] for col in df.columns])

# List unique text values
unique_values = all_text_values.unique()

In [4]:
keys = list('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklm')
len(keys)
proto_dict = dict(zip(unique_values, keys))
df.replace(proto_dict, inplace=True)

In [114]:
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,A,B,D,F,H,K,N,Q,S,U,X,a,d,f,i,k
1,A,C,D,F,H,L,N,Q,S,U,X,a,d,g,i,l
2,A,C,E,G,I,M,O,R,T,V,Y,b,e,h,j,m
3,A,C,D,G,J,K,N,R,S,V,Z,b,d,f,i,m
4,A,B,D,F,H,K,P,Q,S,W,X,c,d,f,i,k
5,A,C,D,F,H,K,N,Q,S,U,X,a,d,g,i,l

In [5]:
matrix_size = df.shape[0]
NameIndexed = []
for i in range(matrix_size):
    NameIndexed.append("S"+str(i+1))
print("Column and Row names",NameIndexed)

Column and Row names ['S1', 'S2', 'S3', 'S4', 'S5', 'S6']

### Setting row/col names

In [6]:
distance_matrix = pd.DataFrame(index=range(df.shape[0]), columns=range(df.shape[0]))
distance_matrix = pd.DataFrame(distance_matrix, index=NameIndexed)
distance_matrix.columns = NameIndexed

In [7]:
min_value_location = []
min_value = 999999
for i in range (matrix_size):
    for j in range (matrix_size-i,0,-1):
        col=matrix_size-j
        row =i
        row1 = df.iloc[row]
        row2 = df.iloc[col]
        distance = (row1 != row2).sum()
        if min_value>distance and distance!=0:
            min_value = distance
            min_value_location = (row,col)        
#         print(f"Distance between row {row} and {col}", "Distance =", distance) #Diagnostics.
        distance_matrix.iloc[row,col]=distance

### <u>**Distance matrix from Proto words**</u>

In [8]:
distance_matrix

     S1   S2   S3   S4   S5  S6
S1    0    4   15    8    3   3
S2  NaN    0   14    9    7   1
S3  NaN  NaN    0    9   15  14
S4  NaN  NaN  NaN    0    9   8
S5  NaN  NaN  NaN  NaN    0   6
S6  NaN  NaN  NaN  NaN  NaN   0

### Renaming columns as S1..Sn & finding the row/col index of the minimum distance

In [9]:
distance_matrix.columns = NameIndexed
distance_matrix.shape
lowerIndex, upperIndex = min_value_location
print(f"Minimum distance row/col index==> {min_value_location}")

Minimum distance row/col index==> (1, 5)

In [10]:
newRowColName = f"S{lowerIndex+1}{upperIndex+1}"

### Creating a copy of distance matrix for calculation of 2nd step and removing the rows and column associated with minimum row/col distance.

In [56]:
distance_matrix_l1 = distance_matrix.copy()
distance_matrix_l1.drop(distance_matrix_l1.columns[upperIndex], axis=1, inplace=True)
distance_matrix_l1.drop(distance_matrix_l1.columns[lowerIndex], axis=1, inplace=True)

distance_matrix_l1.drop(distance_matrix_l1.index[upperIndex], inplace=True)
distance_matrix_l1.drop(distance_matrix_l1.index[lowerIndex], inplace=True)
distance_matrix_l1

     S1   S3   S4  S5
S1    0   15    8   3
S3  NaN    0    9  15
S4  NaN  NaN    0   9
S5  NaN  NaN  NaN   0

### Adding row and col at index 0,0 with with the row/col name.

In [57]:
rowCombo =distance_matrix_l1.iloc[0]
newDF = pd.DataFrame(rowCombo, index=[0])
distance_matrix_l1 = pd.concat([newDF, distance_matrix_l1])
# rowCombo  = distance_matrix_l1[0]
rowArray  = np.zeros(distance_matrix_l1.shape[0])

In [58]:
rowArray[:] = np.nan

In [59]:
distance_matrix_l1

     S1   S3   S4   S5
0   NaN  NaN  NaN  NaN
S1    0   15    8    3
S3  NaN    0    9   15
S4  NaN  NaN    0    9
S5  NaN  NaN  NaN    0

Insert column at index=0 and rename column

In [60]:
distance_matrix_l1.insert(0, f"S{lowerIndex+1}{upperIndex+1}", rowArray)


distance_matrix_l1

    S26   S1   S3   S4   S5
0   NaN  NaN  NaN  NaN  NaN
S1  NaN    0   15    8    3
S3  NaN  NaN    0    9   15
S4  NaN  NaN  NaN    0    9
S5  NaN  NaN  NaN  NaN    0

In [61]:
indexNames = distance_matrix_l1.index.tolist()
indexNames[0]= f"S{lowerIndex+1}{upperIndex+1}"
distance_matrix_l1.index= indexNames

#### Renamed row and column names for minimum distance combo name.

In [62]:
distance_matrix_l1

     S26   S1   S3   S4   S5
S26  NaN  NaN  NaN  NaN  NaN
S1   NaN    0   15    8    3
S3   NaN  NaN    0    9   15
S4   NaN  NaN  NaN    0    9
S5   NaN  NaN  NaN  NaN    0

In [97]:
distance_matrix_l1_init = distance_matrix_l1.copy()

In [98]:
# colcount = distance_matrix_l1_init.shape[0]
# for i in range(
distance_matrix['S3']['S2']

14

In [104]:
colNames = distance_matrix_l1_init.columns
lowerIndex, upperIndex
comboCol1Name = f"S{lowerIndex+1}"
comboCol2Name = f"S{upperIndex+1}"
for i in range(1, len(colNames),1):
    val1 = distance_matrix[comboCol1Name][colNames[i]]
    
    if math.isnan(val1):
        val1 = distance_matrix[colNames[i]][comboCol1Name]
    val2 = distance_matrix[colNames[i]][comboCol2Name]    
    if math.isnan(val2):
        val2 = distance_matrix[comboCol2Name][colNames[i]]
        
    distance_matrix_l1_init.iloc[0,i] = (val1 + val2)/2.0
    print(comboCol1Name, colNames[i], val1)
    print(colNames[i], comboCol2Name, val2)

S2 S1 4
S1 S6 3
S2 S3 14
S3 S6 14
S2 S4 9
S4 S6 8
S2 S5 7
S5 S6 6

In [106]:
distance_matrix_l1_init

     S26   S1    S3   S4   S5
S26  NaN  3.5  14.0  8.5  6.5
S1   NaN    0    15    8    3
S3   NaN  NaN     0    9   15
S4   NaN  NaN   NaN    0    9
S5   NaN  NaN   NaN  NaN    0

In [119]:
matrix2min = 9999
matrix2RowColMin=(9999,9999)
matrixsize = distance_matrix_l1_init.shape[0]
for i in range(matrixsize):
    for j in range(matrixsize):
        if distance_matrix_l1_init.iloc[i,j]<matrix2min and distance_matrix_l1_init.iloc[i,j]>0:            
            matrix2min = distance_matrix_l1_init.iloc[i,j]
            matrix2RowColMin = (i,j)
print("Min Location==>",matrix2RowColMin, "Min value==>", matrix2min)
print("Row==>", distance_matrix_l1_init.columns[matrix2RowColMin[0]], "Col==>",distance_matrix_l1_init.columns[matrix2RowColMin[1]] )

Min Location==> (1, 4) Min value==> 3
Row==> S1 Col==> S5