In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [6]:
# kvp = pd.read_csv("ProtoWordsKVP.csv")

In [7]:
df = pd.read_excel("Hw1-words.xlsx", sheet_name='Proto-words')  # Replace 'Sheet1' with the name of the sheet you want to read
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*mura,*śil'ke,*kuśka
1,*ićä,*emä,*ikte,*kakteksan,*polwe,*nenä,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa
2,*ićä,*emä,*egy,*ńalɜ,*térd,*orr,*nyelv,*ämpɜ,*tojás,*pičɜ,*hó,*pilɜ,*harap,*énekel,*köp,*ϑasɜ
3,*ićä,*emä,*ikte,*ńalɜ,*sāns,*nere,*kele,*ämpɜ,*muna,*pičɜ,*tūjt,*pilɜ,*pure,*mura,*śil'ke,*ϑasɜ
4,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*jylme,*pene,*muna,*šikš,*lume,*äŋɜ,*pure,*mura,*śil'ke,*kuśka
5,*ićä,*emä,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa

In [8]:
df.columns

Index(['father', 'mother', 'one', 'eight', 'knee', 'nose', 'tongue', 'dog',
       'egg', 'smoke', 'snow', 'to burn', 'to bite', 'to sing', 'to spit',
       'dry'],
      dtype='object')

In [9]:
word_list = []
for i, column in enumerate(df.columns):
    # print(i, column)
    word_list.append(df[column].tolist())
# word_list = word_list.tolist()
word_list

[['*ićä', '*ićä', '*ićä', '*ićä', '*ićä', '*ićä'],
 ['*ava', '*emä', '*emä', '*emä', '*ava', '*emä'],
 ['*ikte', '*ikte', '*egy', '*ikte', '*ikte', '*ikte'],
 ['*kakteksan', '*kakteksan', '*ńalɜ', '*ńalɜ', '*kakteksan', '*kakteksan'],
 ['*polwe', '*polwe', '*térd', '*sāns', '*polwe', '*polwe'],
 ['*nere', '*nenä', '*orr', '*nere', '*nere', '*nere'],
 ['*kele', '*kele', '*nyelv', '*kele', '*jylme', '*kele'],
 ['*pene', '*pene', '*ämpɜ', '*ämpɜ', '*pene', '*pene'],
 ['*muna', '*muna', '*tojás', '*muna', '*muna', '*muna'],
 ['*sawe', '*sawe', '*pičɜ', '*pičɜ', '*šikš', '*sawe'],
 ['*lume', '*lume', '*hó', '*tūjt', '*lume', '*lume'],
 ['*korpe', '*korpe', '*pilɜ   ', '*pilɜ   ', '*äŋɜ', '*korpe'],
 ['*pure', '*pure', '*harap', '*pure', '*pure', '*pure'],
 ['*mura', '*laulu', '*énekel', '*mura', '*mura', '*laulu'],
 ["*śil'ke", "*śil'ke", '*köp', "*śil'ke", "*śil'ke", "*śil'ke"],
 ['*kuśka', '*kujwa', '*ϑasɜ', '*ϑasɜ', '*kuśka', '*kujwa']]

In [10]:
values_list_flat = [val for sublist in df.values.tolist() for val in sublist]
uniques = np.unique(values_list_flat)
print(uniques)
print (len(uniques))

['*ava' '*egy' '*emä' '*harap' '*hó' '*ikte' '*ićä' '*jylme' '*kakteksan'
 '*kele' '*korpe' '*kujwa' '*kuśka' '*köp' '*laulu' '*lume' '*muna'
 '*mura' '*nenä' '*nere' '*nyelv' '*orr' '*pene' '*pilɜ   ' '*pičɜ'
 '*polwe' '*pure' '*sawe' '*sāns' '*tojás' '*térd' '*tūjt' '*ämpɜ' '*äŋɜ'
 '*énekel' '*ńalɜ' "*śil'ke" '*šikš' '*ϑasɜ']
39

In [11]:
keys = list('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklm')
len(keys)

39

In [12]:
proto_dict = dict(zip(uniques, keys))

In [13]:
# proto_dict

In [14]:
df.replace(proto_dict, inplace=True)

In [15]:
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,G,A,F,I,Z,T,J,W,Q,b,P,K,a,R,k,M
1,G,C,F,I,Z,S,J,W,Q,b,P,K,a,O,k,L
2,G,C,B,j,e,V,U,g,d,Y,E,X,D,i,N,m
3,G,C,F,j,c,T,J,g,Q,Y,f,X,a,R,k,m
4,G,A,F,I,Z,T,H,W,Q,l,P,h,a,R,k,M
5,G,C,F,I,Z,T,J,W,Q,b,P,K,a,O,k,L

In [16]:
matrix_size = df.shape[0]

In [17]:
distance_matrix = pd.DataFrame(index=range(df.shape[0]), columns=range(df.shape[0]))

In [18]:
distance_matrix.shape

(6, 6)

In [19]:
row1 = df.iloc[2]
row2 = df.iloc[3]

In [20]:
equal_count = (row1 != row2).sum()
equal_count

9

In [59]:
distance_matrix = pd.DataFrame(index=range(df.shape[0]), columns=range(df.shape[0]))
min_value_location = []
min_value = 999999
for i in range (matrix_size):
    for j in range (matrix_size-i,0,-1):
        col=matrix_size-j
        row =i
        row1 = df.iloc[row]
        row2 = df.iloc[col]
        distance = (row1 != row2).sum()
        if distance==0:
            distance = np.nan
        if min_value>distance:
            min_value = distance
            min_value_location = (row,col)
        
        print("R1=",row, "R2 =", col, "Distance =", distance)
        distance_matrix.iloc[row,col]=distance #str(row) +" ,"+ str(col)
distance_matrix

R1= 0 R2 = 0 Distance = nan
R1= 0 R2 = 1 Distance = 4
R1= 0 R2 = 2 Distance = 15
R1= 0 R2 = 3 Distance = 8
R1= 0 R2 = 4 Distance = 3
R1= 0 R2 = 5 Distance = 3
R1= 1 R2 = 1 Distance = nan
R1= 1 R2 = 2 Distance = 14
R1= 1 R2 = 3 Distance = 9
R1= 1 R2 = 4 Distance = 7
R1= 1 R2 = 5 Distance = 1
R1= 2 R2 = 2 Distance = nan
R1= 2 R2 = 3 Distance = 9
R1= 2 R2 = 4 Distance = 15
R1= 2 R2 = 5 Distance = 14
R1= 3 R2 = 3 Distance = nan
R1= 3 R2 = 4 Distance = 9
R1= 3 R2 = 5 Distance = 8
R1= 4 R2 = 4 Distance = nan
R1= 4 R2 = 5 Distance = 6
R1= 5 R2 = 5 Distance = nan

     0    1    2    3    4    5
0  NaN    4   15    8    3    3
1  NaN  NaN   14    9    7    1
2  NaN  NaN  NaN    9   15   14
3  NaN  NaN  NaN  NaN    9    8
4  NaN  NaN  NaN  NaN  NaN    6
5  NaN  NaN  NaN  NaN  NaN  NaN

In [61]:
min_value_location

(1, 5)