In [130]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [131]:
# kvp = pd.read_csv("ProtoWordsKVP.csv")

In [132]:
df = pd.read_excel("Hw1-words.xlsx", sheet_name='Proto-words')  # Replace 'Sheet1' with the name of the sheet you want to read
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*mura,*śil'ke,*kuśka
1,*ićä,*emä,*ikte,*kakteksan,*polwe,*nenä,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa
2,*ićä,*emä,*egy,*ńalɜ,*térd,*orr,*nyelv,*ämpɜ,*tojás,*pičɜ,*hó,*pilɜ,*harap,*énekel,*köp,*ϑasɜ
3,*ićä,*emä,*ikte,*ńalɜ,*sāns,*nere,*kele,*ämpɜ,*muna,*pičɜ,*tūjt,*pilɜ,*pure,*mura,*śil'ke,*ϑasɜ
4,*ićä,*ava,*ikte,*kakteksan,*polwe,*nere,*jylme,*pene,*muna,*šikš,*lume,*äŋɜ,*pure,*mura,*śil'ke,*kuśka
5,*ićä,*emä,*ikte,*kakteksan,*polwe,*nere,*kele,*pene,*muna,*sawe,*lume,*korpe,*pure,*laulu,*śil'ke,*kujwa

In [133]:
df.columns

Index(['father', 'mother', 'one', 'eight', 'knee', 'nose', 'tongue', 'dog',
       'egg', 'smoke', 'snow', 'to burn', 'to bite', 'to sing', 'to spit',
       'dry'],
      dtype='object')

In [134]:
word_list = []
for i, column in enumerate(df.columns):
    # print(i, column)
    word_list.append(df[column].tolist())
# word_list = word_list.tolist()
word_list

[['*ićä', '*ićä', '*ićä', '*ićä', '*ićä', '*ićä'],
 ['*ava', '*emä', '*emä', '*emä', '*ava', '*emä'],
 ['*ikte', '*ikte', '*egy', '*ikte', '*ikte', '*ikte'],
 ['*kakteksan', '*kakteksan', '*ńalɜ', '*ńalɜ', '*kakteksan', '*kakteksan'],
 ['*polwe', '*polwe', '*térd', '*sāns', '*polwe', '*polwe'],
 ['*nere', '*nenä', '*orr', '*nere', '*nere', '*nere'],
 ['*kele', '*kele', '*nyelv', '*kele', '*jylme', '*kele'],
 ['*pene', '*pene', '*ämpɜ', '*ämpɜ', '*pene', '*pene'],
 ['*muna', '*muna', '*tojás', '*muna', '*muna', '*muna'],
 ['*sawe', '*sawe', '*pičɜ', '*pičɜ', '*šikš', '*sawe'],
 ['*lume', '*lume', '*hó', '*tūjt', '*lume', '*lume'],
 ['*korpe', '*korpe', '*pilɜ   ', '*pilɜ   ', '*äŋɜ', '*korpe'],
 ['*pure', '*pure', '*harap', '*pure', '*pure', '*pure'],
 ['*mura', '*laulu', '*énekel', '*mura', '*mura', '*laulu'],
 ["*śil'ke", "*śil'ke", '*köp', "*śil'ke", "*śil'ke", "*śil'ke"],
 ['*kuśka', '*kujwa', '*ϑasɜ', '*ϑasɜ', '*kuśka', '*kujwa']]

In [135]:
values_list_flat = [val for sublist in df.values.tolist() for val in sublist]
uniques = np.unique(values_list_flat)
print(uniques)
print (len(uniques))

['*ava' '*egy' '*emä' '*harap' '*hó' '*ikte' '*ićä' '*jylme' '*kakteksan'
 '*kele' '*korpe' '*kujwa' '*kuśka' '*köp' '*laulu' '*lume' '*muna'
 '*mura' '*nenä' '*nere' '*nyelv' '*orr' '*pene' '*pilɜ   ' '*pičɜ'
 '*polwe' '*pure' '*sawe' '*sāns' '*tojás' '*térd' '*tūjt' '*ämpɜ' '*äŋɜ'
 '*énekel' '*ńalɜ' "*śil'ke" '*šikš' '*ϑasɜ']
39

In [136]:
keys = list('ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklm')
len(keys)

39

In [137]:
proto_dict = dict(zip(uniques, keys))

In [138]:
# proto_dict

In [139]:
df.replace(proto_dict, inplace=True)

In [140]:
df

,father,mother,one,eight,knee,nose,tongue,dog,egg,smoke,snow,to burn,to bite,to sing,to spit,dry
0,G,A,F,I,Z,T,J,W,Q,b,P,K,a,R,k,M
1,G,C,F,I,Z,S,J,W,Q,b,P,K,a,O,k,L
2,G,C,B,j,e,V,U,g,d,Y,E,X,D,i,N,m
3,G,C,F,j,c,T,J,g,Q,Y,f,X,a,R,k,m
4,G,A,F,I,Z,T,H,W,Q,l,P,h,a,R,k,M
5,G,C,F,I,Z,T,J,W,Q,b,P,K,a,O,k,L

In [141]:
matrix_size = df.shape[0]
NameIndexed = []
for i in range(matrix_size):
    NameIndexed.append("S"+str(i+1))
print(NameIndexed)

['S1', 'S2', 'S3', 'S4', 'S5', 'S6']

In [142]:
distance_matrix.columns = NameIndexed
distance_matrix = pd.DataFrame(distance_matrix, index=NameIndexed)

In [143]:
distance_matrix.shape

(6, 6)

In [144]:
min_value_location = []
min_value = 999999
for i in range (matrix_size):
    for j in range (matrix_size-i,0,-1):
        col=matrix_size-j
        row =i
        row1 = df.iloc[row]
        row2 = df.iloc[col]
        distance = (row1 != row2).sum()
        # if distance==0:
        #     distance = np.nan
        if min_value>distance and distance!=0:
            min_value = distance
            min_value_location = (row,col)        
        print(f"Distance between row {row} and {col}", "Distance =", distance)
        distance_matrix.iloc[row,col]=distance #str(row) +" ,"+ str(col)
distance_matrix

Distance between row 0 and 0 Distance = 0
Distance between row 0 and 1 Distance = 4
Distance between row 0 and 2 Distance = 15
Distance between row 0 and 3 Distance = 8
Distance between row 0 and 4 Distance = 3
Distance between row 0 and 5 Distance = 3
Distance between row 1 and 1 Distance = 0
Distance between row 1 and 2 Distance = 14
Distance between row 1 and 3 Distance = 9
Distance between row 1 and 4 Distance = 7
Distance between row 1 and 5 Distance = 1
Distance between row 2 and 2 Distance = 0
Distance between row 2 and 3 Distance = 9
Distance between row 2 and 4 Distance = 15
Distance between row 2 and 5 Distance = 14
Distance between row 3 and 3 Distance = 0
Distance between row 3 and 4 Distance = 9
Distance between row 3 and 5 Distance = 8
Distance between row 4 and 4 Distance = 0
Distance between row 4 and 5 Distance = 6
Distance between row 5 and 5 Distance = 0

     S1   S2   S3   S4   S5  S6
S1    0    4   15    8    3   3
S2  NaN    0   14    9    7   1
S3  NaN  NaN    0    9   15  14
S4  NaN  NaN  NaN    0    9   8
S5  NaN  NaN  NaN  NaN    0   6
S6  NaN  NaN  NaN  NaN  NaN   0

In [145]:
min_value_location

(1, 5)

In [158]:
lowerIndex, upperIndex = min_value_location

In [205]:
distance_matrix_l1 = distance_matrix.copy()

In [206]:
distance_matrix_l1.drop(distance_matrix_l1.columns[upperIndex], axis=1, inplace=True)
distance_matrix_l1.drop(distance_matrix_l1.columns[lowerIndex], axis=1, inplace=True)

distance_matrix_l1.drop(distance_matrix_l1.index[upperIndex], inplace=True)
distance_matrix_l1.drop(distance_matrix_l1.index[lowerIndex], inplace=True)

In [207]:
# # Rename column 'B' to 'New_B' at index 1
# distance_matrix_l1.rename(columns={distance_matrix_l1.columns[1]: f"S{lowerIndex}{upperIndex}"}, inplace=True)
# distance_matrix_l1.rename(columns={distance_matrix_l1.columns[1]: f"S{lowerIndex}{upperIndex}"}, inplace=True)

# # Rename the row at index 1 to 'Row_1'
# distance_matrix_l1.rename(index={distance_matrix_l1.index[1]: f"S{lowerIndex}{upperIndex}"}, inplace=True)
# distance_matrix_l1.rename(index={distance_matrix_l1.index[1]: f"S{lowerIndex}{upperIndex}"}, inplace=True)

In [208]:
distance_matrix_l1

     S1   S3   S4  S5
S1    0   15    8   3
S3  NaN    0    9  15
S4  NaN  NaN    0   9
S5  NaN  NaN  NaN   0

In [209]:
distance_matrix_l1.iloc[lowerIndex, :] = np.nan

In [210]:
distance_matrix_l1.insert(0, f"S{lowerIndex}{upperIndex}", np.nan)

In [211]:
distance_matrix_l1

    S15   S1   S3   S4   S5
S1  NaN    0   15    8    3
S3  NaN  NaN  NaN  NaN  NaN
S4  NaN  NaN  NaN    0    9
S5  NaN  NaN  NaN  NaN    0

In [212]:
dfnew = pd.DataFrame(distance_matrix_l1.iloc[2], index=[0])

dfnew

In [192]:
distance_matrix_l1.shape

(4, 5)

In [157]:
new_distance_matrix = pd.DataFrame()
drop_index = max(min_value_location)
minIndex = min(min_value_location)

In [147]:
drop_index

5

In [151]:
distance_matrix_l1 = distance_matrix.copy()

In [152]:
distance_matrix_l1.drop(distance_matrix_l1.columns[min_value_location], axis=1, inplace=True)

In [155]:
distance_matrix_l1.drop(distance_matrix_l1.index[drop_index], inplace=True)

In [ ]:
#

In [156]:
distance_matrix_l1

     S1   S2   S3   S4  S5
S1    0    4   15    8   3
S2  NaN    0   14    9   7
S3  NaN  NaN    0    9  15
S4  NaN  NaN  NaN    0   9
S5  NaN  NaN  NaN  NaN   0

In [150]:
distance_matrix_drop1 = distance_matrix.drop(distance_matrix.columns[drop_index], axis=1)

In [ ]:
NameIndexed

In [ ]:
distance_matrix.columns = NameIndexed
distance_matrix = pd.DataFrame(distance_matrix, index=NameIndexed)

In [ ]:
new_distance_matrix =